NEXT_PUBLIC_LOGIN_ENDPOINT=INSERT_YOUR_LOGIN_ENPOINT_HERE
NEXT_PUBLIC_CURRENT_USER_ENDPOINT=INSERT_YOUR_CURRENT_USER_ENDPOINT_HERE
NEXT_PUBLIC_REGISTER_TRAINER_ENDPOINT=INSERT_YOUR_REGISTER_TRAINER_ENDPOINT_HERE
NEXT_PUBLIC_REGISTER_CLIENT_ENDPOINT=INSERT_YOUR_REGISTER_CLIENT_ENDPOINT_HERE